body{
	padding-top:70px;
	color:#59595B;
}
.code-logo{
	float: left;
	padding: 0px;
}

.code-logo img{
	height:auto;
	width:80px;
	margin-top:10px;
}
.welcome-text{
	float:right;
}
.tableauPlaceholder{
	height: 1033px;
	width: 100%;

}
.tag-line{
	font-weight:600;
	font-style:italic;
}
a{
	color:#cca349;
}
a:focus, a:hover  {
    color: #7F6221;
    text-decoration: underline;
}
