body{
	padding-top:70px;
	color:#59595B;
}
.jumbotron{
	text-align: center;
}
.code-logo{
	padding: 0px;
	margin-top: -20px;
	text-align: center;
}

.code-logo img{
	width:100px;
}
.welcome-text{
	float:right;
}
.tableauPlaceholder{
	height: 1033px;
	width: 100%;

}
.contact-table-wrapper{
	
}
.contact-table-wrapper table{
	width:75%;
	margin: 0 auto;
}
.project-imgs{
		text-align:center;
}
.project-imgs img{
	padding: 10px;
	margin: 10px;
}
.tag-line{
	font-weight:600;
	font-style:italic;
	text-align: center;
}
a{
	color:#cca349;
}
a:focus, a:hover  {
    color: #7F6221;
    text-decoration: underline;
}
.carousel{
	margin:15px;
	padding:15px;
}
.footnote{
	text-align:center;
	padding:10px 0 40px 0;
}