body{
	padding-top:70px;
	color:#59595B;
}
.code-logo{
	float: left;
	padding: 10px;
}

.code-logo img{
	height:auto;
	width:100px;
}
.welcome-text{
	float:right;
}
.tableauPlaceholder{
	height: 1033px;
	width: 100%;

}

a{
	color:#cca349;
}
a:focus, a:hover  {
    color: #7F6221;
    text-decoration: underline;
}
