 .navbar-inverse .navbar-nav > li > a{
	color: #e2e2e2;
}

a {
	color: black;
}
.label-default {
	background-color: #333;
}

.btn.btn-info.btn-circle.text-uppercase{
	color: black;
}



#reslist li {
	list-style: none;
}

.demo-dropdown label {
	color: black;
}