.removeAddress{
  padding: 1px 2px 0px 3px;
  margin: -1px 1px 1px 1px;
  float: left;
}
tbody#availableAddressRows > tr > td.first > a{
  display: none;
}
tbody#routableAddressRows > tr > td.first > a{
  display: none;
}
.container{
  margin: 0px;
  width: 100%;
}
#firstRow{
  margin-top: -15px;
  margin-top: -15px;
  margin-left: -20px;
}
div#topAddressBlock, div#bottomAddressBlock{
  margin-bottom: 15px;
  padding:0px;
}
ul#dropdownChoice{
  cursor: pointer;
}
.dropdown-toggle{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
#addressInput{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
#app-controls{
  margin-top: 15px;
}
#app-actions{
  margin-top: 15px;
  margin-bottom: 50px;
}
#map{
    height: 400px;
    /*overflow: hidden;
    padding-bottom: 22.25%;
    padding-top: 30px;
    position: relative;
    border: 3px #cbe6a3 outset;
    border-bottom: none;*/
}
.route-inputs{
  text-align: center;
  width: 100%;
}
.route-inputs .input-group *{
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
/* dragula section for dragging and dropping between tables */
.well {
  min-height: 250px;
  background: white;
  background-color: white;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
/* numbers that order the list toBeRouted*/
#routableAddressRows > tr > td > span#count{
  left: -10px;
  position: relative;
  font-weight: 600;
  background: white;
  padding: 0px 5px 0px;
  border-radius: 50%;
  margin-top: 0px;
}
#availableAddresses,
#toBeRouted {
  height: 284px;
  overflow-y: scroll;
  overflow-x: scroll;
  padding: 0px;
  margin:0px;
}

#availableAddresses > div > a.list-group-item{
    margin-left: 0px;
}

#availableAddressTable,
#routableAddressTable{
    min-width:900px;
}
#availableAddressTable th,
#routableAddressTable th {
  vertical-align: middle;
  color:#444;
  text-align: center;
  padding:1px;
  font-size: 12px;
}
#routableAddressTable td:not(#no),
#availableAddressTable td:not(#no) {
  font-size: 11px;
  border: 1px solid #eeeeee;
  padding-top: 3px;
  padding-bottom: 1px;
}

#routableAddressTable td{
  padding-top: 6px;
}
#routableAddressTable tr,
#availableAddressTable tr {
  cursor: pointer;
}
#routableAddressTable .a,
#availableAddressTable .a{
  width: 60px; text-align: center;
}
#routableAddressTable .b,
#availableAddressTable .b{
  width: 110px; padding-left: 5px;
}
#routableAddressTable .c,
#availableAddressTable .c{
  width: 210px; padding-left: 5px;
}
#routableAddressTable .first,
#availableAddressTable .first{
  width: 100px;
  text-align: center;
}

#availableAddressRows > tr,
#routableAddressRows > tr{
  border-bottom: 1px #ddd solid;
}

#routableAddressRows > tr {
  padding-left: 10px;
}
#routableAddressTable th.first{
  padding-left: 20px;
}

button#createRoute[disabled],
button#createPDF[disabled]{
  opacity: 1;
}

.placeholder {  height: 40px; }

/**/
#directions-panel{
  margin-bottom: 0px;
  border-radius: 0px;
  border-top: none;
  font-size: 12px;
}
#directions-panel.well hr {
  border-top: 1px solid #e7e7e7;
  margin: 3px 0px 3px 0px;

}
.table{
  margin-bottom: 0px;
  table-layout:fixed;
}
#taskListOptions{
  padding-right: 0px;
}

#mapResults{
    height: 100%;
    position: relative;
    overflow: hidden;
}

/* animation section for loading map results */
#loading-overlay {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top:0;
    background: #dddddd;
    z-index: 1000;
    opacity: 0.85;
    color: #777777;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 34px;
}
.loaders {
  height: 100%;
  line-height: 300px;
  padding-top: 75px;
}
.loader {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  vertical-align: middle;
}
#loading-route-overlay {
    /*display: none;*/
    height: 100%;
    width: 100%;
    position: absolute;
    background: #dddddd;
    z-index: 1000;
    opacity: 0.85;
    color: #777777;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 34px;
}
/*	$Loader Quadrant
	========================================================================== */
.loader-quart {
  border-radius: 50px;
  border: 6px solid rgba(255, 255, 255, 0.4);
}
.loader-route-quart {
  border-radius: 50px;
  border: 6px solid #888888;
}
.loader-quart:after,
.loader-route-quart:after {
  content: '';
  position: absolute;
  top: -6px;
  right: -6px;
  bottom: -6px;
  left: -6px;
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #fff;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

.btn .tooltiptext {
    visibility: hidden;
    width: 290px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -145px;
    margin-bottom: 3px;
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.btn:disabled:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.btn .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
/* animation */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    tranform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    tranform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    tranform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    tranform: rotate(360deg);
  }
}
/* tables sorting */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background: #f1f2e8;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: none;
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter thead tr .header:hover {
  background-color: #b6ac9b;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #b6ac9b;
}
#routeTripTime{
  float:right;
}
#mobileFunc{
  display: none;
}
@media only screen and (max-width: 767px) {

  #taskListOptions{
    padding-right: 15px;
  }
  #mobileFunc{
    display: table-cell;
  }
  div#mapResults div#app-actions button#mobileApp.btn,
  div#mapResults div#app-actions button#createPDF.btn,
  div#taskListOptions div#app-controls button.btn
  {
    font-size: 14px;
  }

  tbody#availableAddressRows > tr > td.first > a.mobileAdd{
    display: block;
    padding: 1px 2px 0px 3px;
    margin: -1px 1px 1px 1px;
    float: left;
  }
  #availableAddresses,
  #toBeRouted {
    height: 240px;
  }


}
